body,html{
  height: 100%;
  
}
body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+30,a9aaad+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(169,170,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%,rgba(169,170,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,rgba(169,170,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a9aaad',GradientType=0 ); /* IE6-9 */
}
nav {
  background-color: #fff !important;
}